:root {
    --imagem-fundo: url('img/sr297941f940baws3.png');
}

.div-com-imagem {
    width: 300px;
    height: 300px;
    background-image: var(--imagem-fundo);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #000;
    border-radius: 10px;
}
